player-connection-mode=Listen
player-connection-guid=3106991595
player-connection-debug=0
player-connection-project-name=ML-Car
player-connection-ip=192.168.100.2
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=25c8343bb551459ea77e42ed0ae72305
